.addDetail {
    margin-top: 25px;
    margin-left: 100px;
    padding: 8px;
    color: #35424a
}

.form-horizontal {
    background-color: #c4c4c4;
    color: black;
    border-collapse: collapse;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    padding:5px;
}

.col-md-10{
    align-content:center;
    display:flex;
    flex-direction:column;
}

.text-danger{
    color:red;
}
.form-control{
    width:97%;
}
.col-md-offset-2{
    display: flex;
}
.button2 {
    font-size: 15px;
    padding: 8px;
    margin: 5px 20px;
    background-color: #e8491d;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #35424a;
    cursor:pointer;
}

table{
    align-self: center;
}